<template>
    <div class="submit-field">
        <h5>{{ lang['Attachments'] }} <span v-if="optional">({{ lang['optional'] }})</span> <i v-if="Boolean(info)"
                                                                                               class="help-icon"
                                                                                               data-tippy-placement="right"
                                                                                               :title="info"></i></h5>
        <!-- Upload Button -->
        <div class="uploadButton margin-top-0">
            <input class="uploadButton-input" type="file"
                   :disabled="disabled"
                   ref="file" @change="onChangeFileUpload"
                   accept="image/*, application/pdf" id="upload" multiple />
            <label ref="label" class="uploadButton-button ripple-effect" for="upload">
                {{ lang['Upload Files'] }}</label>
            <span ref="descriptions" class="uploadButton-file-name">{{ lang['Maximum file size: 10 MB'] }}</span>
        </div>

        <!-- Attachments -->
        <div class="attachments-container margin-top-0 margin-bottom-0">
            <div v-for="attachment in files" class="attachment-box ripple-effect">
                <span><a :href="`/download/${attachment.uuid}`">{{ attachment.name }}</a></span>
                <i>{{ attachment.mime_type | extension }}</i>
                <button :disabled="disabled" class="remove-attachment" data-tippy-placement="top"
                        title="Remove" @click="remove(attachment.uuid)"></button>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</template>

<script>
import mime from 'mime-types'

export default {
    props: {
        info: String,
        disabled: Boolean,
        optional: Boolean,
        uploadRoute: {
            type: String,
            required: true
        },
        removeRoute: {
            type: String,
            required: true
        },
        attachments: {
            type: Array,
            required: true
        },
    },
    data: () => ({
        file: null,
        files: [],
        lang: {}
    }),
    filters: {
        extension (mimeType) {
            return mime.extension(mimeType)
        }
    },
    mounted () {
        window.axios.get('/lang/attachments').then((data) => {
            this.lang = data.data
        })
        this.files = this.attachments
    },
    methods: {
        upload () {
            this.$refs.label.innerHTML = this.lang['Uploading....']
            let formData = new FormData()

            formData.append('file', this.file)

            window.axios.post(this.uploadRoute,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then(({ data, status }) => {
                console.log(data)
                if (status === 200) {
                    this.files.push(data)
                    this.$refs.descriptions.text = this.lang['Maximum file size: 10 MB']
                }

                this.$refs.label.innerHTML = this.lang['Upload Files']
            }).catch(function () {
                console.log('FAILURE!!')
                this.$refs.label.innerHTML = 'Error'
            })
        },
        remove (uuid) {
            window.axios.delete(this.removeRoute.replace('_uuid_', uuid),
            ).then(({ status }) => {
                console.log(status)
                if (status === 204) {
                    this.files = this.files.filter(file => file.uuid !== uuid)
                }
            }).catch(function () {
                console.log('FAILURE!!')
            })
        },
        onChangeFileUpload () {
            this.file = this.$refs.file.files[0]
            this.upload()
        }
    }
}
</script>
