<template>
    <div>
        <button v-if="showButton"
                class="bookmark-button"
                @click.prevent="toggleBookmark"
                :class="bookmarkedClass">
            <span class="bookmark-icon"></span>
            <span class="bookmark-text">{{ lang['Bookmark'] }}</span>
            <span class="bookmarked-text">{{ lang['Bookmarked'] }}</span>
        </button>
        <span v-else @click.prevent="toggleBookmark" class="bookmark-icon" :class="bookmarkedClass"></span>
    </div>
</template>

<script>
function showSnackbar (message) {
    Snackbar.show({
        text: message,
        pos: 'bottom-center',
        showAction: false,
        actionText: "Dismiss",
        duration: 3000,
        textColor: '#fff',
        backgroundColor: '#383838'
    });
}
export default {
    name: 'BookMark',
    props: {
        addRoute: {
            type: String,
            required: true
        },
        removeRoute: {
            type: String,
            required: true
        },
        id: String,
        modelId: {
            type: String,
            required: true
        },
        modelType: {
            type: String,
            required: true
        },
        showButton: Boolean
    },
    data: () => ({
        bookmarkedClass: '',
        bookmarkId: '',
        lang: {}
    }),
    mounted () {
        window.axios.get('/lang/bookmarks').then((data) => {
            this.lang = data.data
        })

        if (this.id) {
            this.bookmarkId = this.id
            this.bookmarkedClass = 'bookmarked'
        }
    },
    methods: {
        toggleBookmark () {
            if(this.bookmarkId) {
                this.bookmarkedClass = ''
                axios.delete(this.removeRoute.replace('_id_', this.bookmarkId), {
                    model_id: this.modelId,
                    model_type: this.modelType
                }).then(() => {
                    this.bookmarkId = null
                    showSnackbar(this.lang['bookmark deleted'])
                }).catch((error) => {
                    console.log(error)
                    this.bookmarkedClass = 'bookmarked'
                    showSnackbar(this.lang['The bookmark was not  deleted'])
                })
            } else {
                this.bookmarkedClass = 'bookmarked'
                axios.post(this.addRoute, {
                    model_id: this.modelId,
                    model_type: this.modelType
                }).then(({data}) => {
                    this.bookmarkId = data.id
                    showSnackbar(this.lang['Bookmark added'])
                }).catch((error) => {
                    console.log(error)
                    this.bookmarkedClass = ''
                    showSnackbar(this.lang['The bookmark was not added'])
                })
            }
        }
    }
}
</script>

<style scoped>

</style>
