<template>
    <div class="letters-list">
        <a v-for="letter in Alphabet"
           :key="letter"
           :href="`?letter=${letter}`"
           :class="letterClass(letter)">{{letter}}</a>
    </div>
</template>

<script>
const queryString = window.location.search
const urlParams = new URLSearchParams(queryString)

export default {
    name: 'CompanyLettersFilter',
    data: () => ({
        Alphabet: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
    }),
    methods: {
        letterClass (letter) {
            return letter === urlParams.get('letter') ? 'current' : ''
        }
    }
}
</script>

<style scoped>

</style>
