<template>
    <div class="companies-list">
        <a v-for="company in companies" :key="company.id" :href="company.url" class="company">
            <div class="company-inner-alignment">
                <span class="company-logo"><img :src="company.logo" alt=""></span>
                <h4>{{ company.name }}</h4>
            </div>
        </a>
    </div>
</template>

<script>

export default {
    name: 'CompaniesList',
    props: {
        companies: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>

</style>
