<template>
    <div id="map" ref="googleMap" data-map-scroll="true"></div>
</template>

<script>
export default {
    name: 'JobsMap',
    props: {
        jobs: String
    },
    data: () => ({
        jobsArray: []
    }),
    mounted () {
        this.jobsArray = JSON.parse(this.jobs).data
        this.initializeMap()
    },
    methods: {
        initializeMap () {
            const ib = new InfoBox()

            // Infobox Output
            function locationData (jobURL, companyLogo, companyName, jobTitle, verifiedBadge) {
                return ('' +
                    '<a href="' + jobURL + '" class="job-listing">' +
                    '<div class="infoBox-close"><i class="icon-feather-x"></i></div>' +
                    '<div class="job-listing-details">' +
                    '<div class="job-listing-company-logo">' +
                    '<div class="' + verifiedBadge + '-badge"></div>' +
                    '<img src="' + companyLogo + '" alt="">' +
                    '</div>' +
                    '<div class="job-listing-description">' +
                    '<h4 class="job-listing-company">' + companyName + '</h4>' +
                    '<h3 class="job-listing-title">' + jobTitle + '</h3>' +
                    '</div>' +
                    '</div>' +
                    '</a>')
            }

            // jobs Locations
            const locations = []

            this.jobsArray.forEach(job => {
                locations.push([
                    locationData(
                        job.url,
                        job.logo,
                        job.companyName,
                        job.title,
                        'not-verified'),
                    parseFloat(job.lat),
                    parseFloat(job.lng),
                    parseInt(job.map_zoom),
                    ''])
            })

            const mapOptions = {
                zoom: 6,
                scrollwheel: 1,
                center: new google.maps.LatLng(34.8471273, 1.5450766),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                panControl: false,
                navigationControl: false,
                streetViewControl: false,
                gestureHandling: 'cooperative',

                // Google Map Style
                styles: [{
                    'featureType': 'poi',
                    'elementType': 'labels.text.fill',
                    'stylers': [{ 'color': '#747474' }, { 'lightness': '23' }]
                }, {
                    'featureType': 'poi.attraction',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#f38eb0' }]
                }, {
                    'featureType': 'poi.government',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#ced7db' }]
                }, {
                    'featureType': 'poi.medical',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#ffa5a8' }]
                }, {
                    'featureType': 'poi.park',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#c7e5c8' }]
                }, {
                    'featureType': 'poi.place_of_worship',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#d6cbc7' }]
                }, {
                    'featureType': 'poi.school',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#c4c9e8' }]
                }, {
                    'featureType': 'poi.sports_complex',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#b1eaf1' }]
                }, {
                    'featureType': 'road',
                    'elementType': 'geometry',
                    'stylers': [{ 'lightness': '100' }]
                }, {
                    'featureType': 'road',
                    'elementType': 'labels',
                    'stylers': [{ 'visibility': 'off' }, { 'lightness': '100' }]
                }, {
                    'featureType': 'road.highway',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#ffd4a5' }]
                }, {
                    'featureType': 'road.arterial',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'color': '#ffe9d2' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'all',
                    'stylers': [{ 'visibility': 'simplified' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'geometry.fill',
                    'stylers': [{ 'weight': '3.00' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'geometry.stroke',
                    'stylers': [{ 'weight': '0.30' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'labels.text',
                    'stylers': [{ 'visibility': 'on' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'labels.text.fill',
                    'stylers': [{ 'color': '#747474' }, { 'lightness': '36' }]
                }, {
                    'featureType': 'road.local',
                    'elementType': 'labels.text.stroke',
                    'stylers': [{ 'color': '#e9e5dc' }, { 'lightness': '30' }]
                }, {
                    'featureType': 'transit.line',
                    'elementType': 'geometry',
                    'stylers': [{ 'visibility': 'on' }, { 'lightness': '100' }]
                }, { 'featureType': 'water', 'elementType': 'all', 'stylers': [{ 'color': '#d2e7f7' }] }]
            }

            if (this.jobsArray.length) {
                mapOptions.center = {
                    lat: parseFloat(this.jobsArray[0].lat),
                    lng: parseFloat(this.jobsArray[0].lng)
                }
                mapOptions.zoom = parseInt(this.jobsArray[0].map_zoom) - 4
            }

            const mapContainer = this.$refs.googleMap

            const map = new google.maps.Map(
                mapContainer, mapOptions
            )

            this.map = map

            // Infobox
            // ----------------------------------------------- //

            var boxText = document.createElement('div')
            boxText.className = 'map-box'

            var currentInfobox

            var boxOptions = {
                content: boxText,
                disableAutoPan: false,
                alignBottom: true,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(-160, 0),
                zIndex: null,
                boxStyle: {
                    width: '320px'
                },
                closeBoxMargin: '0',
                closeBoxURL: '',
                infoBoxClearance: new google.maps.Size(25, 25),
                isHidden: false,
                pane: 'floatPane',
                enableEventPropagation: false,
            }

            var markerCluster, overlay, i
            var allMarkers = []

            var clusterStyles = [
                {
                    textColor: 'white',
                    url: '',
                    height: 50,
                    width: 50
                }
            ]

            var markerIco
            for (i = 0; i < locations.length; i++) {

                markerIco = locations[i][4]

                var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),

                    overlay = new CustomMarker(
                        overlaypositions,
                        map,
                        {
                            marker_id: i
                        },
                        markerIco
                    )

                allMarkers.push(overlay)

                google.maps.event.addDomListener(overlay, 'click', (function (overlay, i) {

                    return function () {
                        ib.setOptions(boxOptions)
                        boxText.innerHTML = locations[i][0]
                        ib.close()
                        ib.open(map, overlay)
                        currentInfobox = locations[i][3]

                        google.maps.event.addListener(ib, 'domready', function () {
                            $('.infoBox-close').click(function (e) {
                                e.preventDefault()
                                ib.close()
                                $('.map-marker-container').removeClass('clicked infoBox-opened')
                            })

                        })

                    }
                })(overlay, i))

            }

            // Marker Clusterer Init
            // ----------------------------------------------- //

            var options = {
                imagePath: 'images/',
                styles: clusterStyles,
                minClusterSize: 3
            }

            markerCluster = new MarkerClusterer(map, allMarkers, options)

            google.maps.event.addDomListener(window, 'resize', function () {
                var center = map.getCenter()
                google.maps.event.trigger(map, 'resize')
                map.setCenter(center)
            })

            // Custom User Interface Elements
            // ----------------------------------------------- //

            // Custom Zoom-In and Zoom-Out Buttons
            var zoomControlDiv = document.createElement('div')
            var zoomControl = new ZoomControl(zoomControlDiv, map)

            function ZoomControl (controlDiv, map) {

                zoomControlDiv.index = 1
                map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(zoomControlDiv)
                // Creating divs & styles for custom zoom control
                controlDiv.style.padding = '5px'
                controlDiv.className = 'zoomControlWrapper'

                // Set CSS for the control wrapper
                var controlWrapper = document.createElement('div')
                controlDiv.appendChild(controlWrapper)

                // Set CSS for the zoomIn
                var zoomInButton = document.createElement('div')
                zoomInButton.className = 'custom-zoom-in'
                controlWrapper.appendChild(zoomInButton)

                // Set CSS for the zoomOut
                var zoomOutButton = document.createElement('div')
                zoomOutButton.className = 'custom-zoom-out'
                controlWrapper.appendChild(zoomOutButton)

                // Setup the click event listener - zoomIn
                google.maps.event.addDomListener(zoomInButton, 'click', function () {
                    map.setZoom(map.getZoom() + 1)
                })

                // Setup the click event listener - zoomOut
                google.maps.event.addDomListener(zoomOutButton, 'click', function () {
                    map.setZoom(map.getZoom() - 1)
                })

            }

            // Geo Location Button
            $('#geoLocation, .input-with-icon.location a').click(function (e) {
                e.preventDefault()
                geolocate()
            })

            function geolocate () {

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                        map.setCenter(pos)
                        map.setZoom(12)
                    })
                }
            }
        }
    }
}
</script>

<style scoped>

</style>
