<template>
    <div>
        <div class="submit-field">
            <h5>{{ lang['Location'] }}</h5>

            <div class="input-with-icon">
                <input ref="autocomplete"
                       :disabled="locationNotAvailable"
                       type="text"
                       name="location"
                       :form="formId"
                       v-model="data.location"
                       :placeholder="data.placeholder">

                <i :class="locationIcon"></i>

                <input type="hidden" :form="formId" name="lng"
                       v-model="data.lng">
                <input type="hidden" :form="formId" name="lat"
                       v-model="data.lat">
                <input type="hidden" :form="formId" name="map_zoom"
                       v-model="data.map_zoom">
            </div>
        </div>

        <div v-if="withDistance && !locationNotAvailable" class="submit-field">
            <h5>Distance {{ data.distance }} Km</h5>

            <!-- Range Slider -->
            <input v-model="data.distance"
                   type="range"
                   name="distance"
                   min="1"
                   max="50"
                   :form="formId"
                   @change="distanceChange">
        </div>
        <div v-if="!noMap && !locationNotAvailable" class="submit-field map-container">
            <div class="image-container">
                <img :src="marker" alt="">
            </div>
            <div id="map" class="google-map" ref="googleMap"></div>
        </div>
    </div>
</template>

<script>
import marker from '../../assets/images/marker.png'

export default {
    name: 'Locations',
    props: {
        formId: String,
        lat: {
            type: Number,
            default: 35.2419662
        },
        lng: {
            type: Number,
            default: -0.6476653
        },
        map_zoom: {
            type: Number,
            default: 10
        },
        distance: {
            type: Number,
            default: 5
        },
        location: String,
        noMap: Boolean,
        withDistance: Boolean
    },
    data: () => ({
        locationIcon: 'icon-material-outline-location-on',
        locationNotAvailable: false,
        marker,
        map: null,
        distanceCircle: null,
        startSearch: false,
        data: {
            location: '',
            distance: 0,
            placeholder: ''
        },
        lang: {}
    }),
    async mounted () {

        window.axios.get('/lang/location')
            .then((data) => {
                this.lang = data.data
                this.data.placeholder = this.lang['Location']
            })

        let url = new URL(document.location)
        let params = new URLSearchParams(url.search.slice(1))

        this.data.location = params.has('location') ? params.get('location') : this.location
        this.data.distance = params.has('distance') ? params.get('distance') : this.distance

        try {
            if (!this.noMap) {
                this.data.lat = params.has('lat') ? params.get('lat') : this.lat
                this.data.lng = params.has('lng') ? params.get('lng') : this.lng
                this.data.map_zoom = params.has('map_zoom') ? params.get('map_zoom') : this.map_zoom
                this.data.location = params.has('location') ? params.get('location') : this.location

                this.initializeMap()
                if (this.withDistance) {
                    this.drawCircle()
                }
            }
            this.initializeAutocomplete()
        } catch (e) {
            this.locationNotAvailable = true
            this.data.placeholder = this.lang['Not Available']
        }

    },
    methods: {
        initializeAutocomplete () {
            const autocompleteInput = this.$refs.autocomplete

            const autocomplete = new google.maps.places.Autocomplete(autocompleteInput)

            autocomplete.addListener('place_changed', () => {
                this.data.location = autocomplete.getPlace().formatted_address

                const newCenter = {
                    lat: autocomplete.getPlace().geometry.location.lat(),
                    lng: autocomplete.getPlace().geometry.location.lng()
                }

                if (this.map) {
                    this.map.setCenter(newCenter)
                    this.map.setZoom(10)
                } else {
                    this.data.lat = newCenter.lat
                    this.data.lng = newCenter.lng
                }

                this.changeDistanceCircleCenter(newCenter)
            })
        },
        initializeMap () {
            const mapContainer = this.$refs.googleMap

            const options = {
                zoom: this.data.map_zoom,
                center: {
                    lat: this.data.lat,
                    lng: this.data.lng
                }
            }

            this.map = new google.maps.Map(
                mapContainer, options
            )

            this.map.addListener('center_changed', () => {
                this.data.lat = this.map.getCenter().lat()
                this.data.lng = this.map.getCenter().lng()
                this.changeDistanceCircleCenter(this.data)
            })
            this.map.addListener('zoom_changed', () => {
                this.data.map_zoom = this.map.getZoom()
            })
        },
        drawCircle () {
            let opts = {
                strokeColor: '#004bff',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#004bff',
                fillOpacity: 0.1,
                map: this.map,
                center: {
                    lat: this.data.lat,
                    lng: this.data.lng
                },
                radius: this.data.distance * 1000
            }
            //console.log(this.data.distance)
            this.distanceCircle = new google.maps.Circle(opts)

        },
        changeDistanceCircleRadius (newDistance) {
            if (this.distanceCircle)
                this.distanceCircle.setRadius(newDistance * 1000)
        },
        changeDistanceCircleCenter ({ lat, lng }) {
            if (this.distanceCircle)
                this.distanceCircle.setCenter({ lat, lng })
        },
        distanceChange () {
            this.changeDistanceCircleRadius(this.data.distance)
        }
    }
}
</script>

<style scoped lang="scss">
    .map-container {
        position: relative;
        width: 100%;
        height: 400px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        display: block;

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 36px;
                margin-top: -18px;
                z-index: 999;
            }

        }

        #map {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
</style>
