<template>
    <div class="sidebar-widget">
        <h3>{{ lang['Location'] }}</h3>
        <div class="input-with-icon">
            <div id="autocomplete-container">
                <input id="autocomplete-input" v-model="location" :name="name" :form="formId" type="text"
                       :placeholder="lang['Location']">
            </div>
            <i class="icon-material-outline-location-on"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SearchLocation',
    props: {
        name: {
            type: String,
            default: 'location'
        },
        formId: String
    },
    data: () => ({
        location: '',
        lang: {}
    }),
    mounted () {
        window.axios.get('/lang/search-location').then((data) => {
            this.lang = data.data
        })
        let url = new URL(document.location)
        let params = new URLSearchParams(url.search.slice(1))

        if (params.has(this.name))
            this.location = params.getAll(this.name)
    }
}
</script>

<style scoped>

</style>
