<template>
    <div class="sidebar-widget">
        <h3>{{ title }}</h3>

        <div class="switches-list">
            <div class="switch-container">
                <label class="switch" v-for="option in optionsToSelect" :key="option">
                    <input :name="`${name}[]`" :form="formId" v-model="selected" type="checkbox" :value="option">
                    <span class="switch-button"></span>{{ option }}
                </label>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'SearchSwitches',
    props: {
        formId: String,
        title: {
            type: String,
            default: 'Job Type'
        },
        name: {
            type: String,
            default: 'types'
        },
        options: String
    },
    data: () => ({
        selected: []
    }),
    mounted () {
        let url = new URL(document.location)
        let params = new URLSearchParams(url.search.slice(1))

        if (params.has(`${this.name}[]`))
            this.selected = params.getAll(`${this.name}[]`)
    },
    computed: {
        optionsToSelect () {
            return this.options ? JSON.parse(this.options) : []
        }
    }
}
</script>

<style scoped>

</style>
