<template>
    <div class="sort-by">
        <span>{{ lang['Sort by:'] }}</span>
        <select @change="sortBy" v-model="sortKeyWord" class="selectpicker hide-tick">
            <option value="">{{ lang['Relevance'] }}</option>
            <option value="new">{{ lang['Newest'] }}</option>
            <option value="old">{{ lang['Oldest'] }}</option>
        </select>
    </div>
</template>

<script>
export default {
    name: 'SortBy',
    data: () => ({
        sortKeyWord: ''
    }),
    mounted () {
        let url = new URL(document.location)
        let params = new URLSearchParams(url.search.slice(1))

        window.axios.get('/lang/sort-by').then((data) => {
            this.lang = data.data
        })

        if (params.has('sortBy'))
            this.sortKeyWord = params.get('sortBy')

    },
    methods: {
        sortBy () {
            const keyWord = this.sortKeyWord
            let url = new URL(document.location)
            let params = new URLSearchParams(url.search.slice(1))

            if (params.has('sortBy'))
                params.set('sortBy', keyWord)
            else
                params.append('sortBy', keyWord)

            const newUrl = url.href.split('?')[0] + '?' + params.toString()

            window.location.href = newUrl
        }
    }
}
</script>

<style scoped>

</style>
