<template>
    <div>
        <div class="submit-field">
            <h5>{{ title }} <span v-if="optional">(optional)</span>
                <i v-if="Boolean(info)" class="help-icon"
                   data-tippy-placement="right" :title="info"></i>
            </h5>

            <!-- Skills List -->
            <div class="keywords-container">
                <div class="keyword-input-container">
                    <input type="text" class="keyword-input with-border" v-model="newTag"
                           @keypress.enter="addTag"
                           :placeholder="placeholder" />
                    <button class="keyword-input-button ripple-effect" @click="addTag"><i
                        class="icon-material-outline-add"></i>
                    </button>
                </div>
                <div class="keywords-list">
                    <span v-for="tag in tagsArray" class="keyword">
                        <span class="keyword-remove" @click="removeTag(tag)"></span>
                        <span class="keyword-text">{{ tag }}</span>
                    </span>
                </div>
                <div class="clearfix"></div>
                <input type="hidden" :form="formId" :name="name" v-model="tagsList">
            </div>
        </div>
    </div>
</template>

<script>
import he from 'he'

export default {
    name: 'TagsEditor',
    props: {
        title: String,
        info: String,
        optional: Boolean,
        formId: String,
        tags: String,
        name: {
            type: String,
            default: 'tags'
        },
        placeholder: {
            type: String,
            default: 'e.g. Angular, Laravel'
        }
    },
    data: () => ({
        newTag: '',
        tagsList: null
    }),
    mounted () {
        if (this.tags) {
            const tags = JSON.parse(this.tags)
            this.tagsList = Array.isArray(tags) ? tags.toString() : []
        }

        let url = new URL(document.location)
        let params = new URLSearchParams(url.search.slice(1))

        if (params.has(this.name))
            this.tagsList = params.get(this.name)
    },
    methods: {
        addTag () {
            if (Boolean(this.newTag)) {
                this.tagsList = (this.tagsList ? this.tagsList + ',' : '') + this.newTag
                this.newTag = ''
            }
        },
        removeTag (tagToRemove) {
            this.tagsList = this.tagsList.split(',')
                .filter(tag => tag !== tagToRemove)
                .toString()
        }
    },
    computed: {
        tagsArray () {
            return this.tagsList ? this.tagsList.split(',') : []
        }
    }
}
</script>

<style scoped>

</style>
