<template>
    <div>
        <div class="submit-field">
            <h5>{{ title }}</h5>
            <div class="editor-container">
                <div id="pell" class="pell" />
            </div>
            <input type="hidden"
                   id="output-input"
                   v-model="output"
                   :name="name"
                   :form="formId" />
        </div>
    </div>
</template>

<script>
import pell from 'pell'
import he from 'he'

export default {
    name: 'TextEditor',
    props: {
        title: String,
        formId: String,
        name: String,
        content: String,
    },
    data: () => ({
        output: '',
    }),
    methods: {
        ensureHTTP: str => /^https?:\/\//.test(str) && str || `http://${str}`
    },
    mounted () {
        const editor = pell.init({
            element: document.getElementById('pell'),
            onChange: html => {
                this.output = he.encode(html)
            },
            actions: [
                'bold',
                'italic',
                'underline',
                'strikethrough',
                'heading1',
                'heading2',
                'paragraph',
                'quote',
                'olist',
                'ulist',
                'code',
                'line',
                {
                    name: 'image',
                    result: () => {
                        const url = window.prompt('Enter the image URL')
                        if (url) pell.exec('insertImage', this.ensureHTTP(url))
                    }
                },
                {
                    name: 'link',
                    result: () => {
                        const url = window.prompt('Enter the link URL')
                        if (url) pell.exec('createLink', this.ensureHTTP(url))
                    }
                }
            ]
        })
        if (this.content){
            editor.content.innerHTML = he.decode(this.content)
            this.output = this.content
        }
    }
}
</script>

<style scoped lang="scss">
    @import "~pell/dist/pell.min.css";
    .editor-container {
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }
</style>
