<template>
    <div class="intro-banner-search-form margin-top-95">

        <!-- Search Field -->
        <div class="intro-search-field with-autocomplete">
            <label for="location" class="field-title ripple-effect">{{ lang['Where?'] }}</label>
            <div class="input-with-icon">
                <input ref="autocomplete"
                       id="location"
                       :disabled="locationNotAvailable"
                       type="text"
                       name="location"
                       v-model="location"
                       form="job-search-front-form"
                       :placeholder="placeholder">
                <i class="icon-material-outline-location-on"></i>
                <input type="hidden" name="lng"
                       form="job-search-front-form"
                       v-model="lng">
                <input type="hidden" name="lat"
                       form="job-search-front-form"
                       v-model="lat">
                <input type="hidden" name="distance"
                       form="job-search-front-form"
                       value="10">
            </div>
        </div>

        <!-- Search Field -->
        <div class="intro-search-field">
            <label for="keywords" class="field-title ripple-effect">{{ lang['What job you want?'] }}</label>
            <input id="keywords" name="keywords" type="text"
                   form="job-search-front-form"
                   :placeholder="lang['Job Title or Keywords']">
        </div>

        <!-- Button -->
        <div class="intro-search-button">
            <form :action="action" id="job-search-front-form">
                <button type="submit" class="button ripple-effect">{{ lang['Search'] }}</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WelcomeJobSearch',
    props: {
        action: {
            type: String,
            required: true
        }
    },
    data: () => ({
        locationNotAvailable: false,
        location: null,
        placeholder: null,
        lat: null,
        lng: null,
        lang: {}
    }),
    async mounted () {
        try {
            window.axios.get('/lang/welcome-job-search')
                .then((data) => {
                    this.lang = data.data
                    this.placeholder = this.lang['Jobs near you']
                })
            this.initializeAutocomplete()
        } catch (e) {
            this.locationNotAvailable = true
            this.placeholder = this.lang['Not Available']
        }
    },
    methods: {
        initializeAutocomplete () {
            const autocompleteInput = this.$refs.autocomplete

            const autocomplete = new google.maps.places.Autocomplete(autocompleteInput)

            autocomplete.addListener('place_changed', () => {
                this.location = autocomplete.getPlace().formatted_address
                this.lat = autocomplete.getPlace().geometry.location.lat()
                this.lng = autocomplete.getPlace().geometry.location.lng()
            })
        },
    }
}
</script>

<style scoped>

</style>
